<h2>We find:</h2>
{{#each this}}
<div class="card-item">
    <h3 class="card-title">{{name}}</h3>
    <div class="card-content">
        <table>
            <tbody>
                <tr>
                    <td class="card-discr">Capital:</td>
                    <td>{{capital}}</td>
                </tr>
                <tr>
                    <td class="card-discr">Population:</td>
                    <td>{{population}}</td>
                </tr>
                <tr>
                    <td class="card-discr">Languages:</td>
                    <td><ul>{{#each languages}}
                        <li>{{this.name}}</li>
                        {{/each}}
                       </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="card-img">
            <img src="{{flag}}" alt="flag of {{name}}" width='480'>
        </div>
    </div>
</div>
{{/each}}
{{!-- {{#each this}}
<li class="country-info">
    <div class="info-conteiner">
        <h2 class="name">{{name}}</h2>
        <p class="capital">Capital: {{capital}}</p>
        <p class="population">Population: {{population}}</p>
        <ul class="languages-list">Languages:
            {{#each languages}}
            <li class="languages">{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
    <img class="flag" src="{{flag}}" alt="flag of country" width="450" height="300">
</li>
{{/each}} --}}